<a href="https://colab.research.google.com/github/msudhanshu10/Data-Science/blob/master/Advanced%20House%20Price%20Prediction/Advanced_House_Price_Prediction_Feature_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## In feature Engineering, we will be doing the following tasks;
1. Handling Missing Values.
2. Temporal Values
3. Encoding of Categorical Variables
4. Feature Scaling/Standardization
5. Dealing with outliers.

In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
from google.colab import files
uploaded= files.upload()

Saving train[1].csv to train[1].csv

In [5]:
dataset= pd.read_csv('train[1].csv')

In [6]:
dataset.head(3)

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500

[3 rows x 81 columns]

### Note:
In a kaggle problem statement, you are provided with test data separately.
But in a real world DS project you first need to train_test_split() the train data and then apply feature engineering to train and test data separately.

## 1. Handling Missing Values

1.1 Handle missing values for categorical features.

In [7]:
hasnull_features= [feature for feature in dataset.columns if dataset[feature].isna().sum()>1 and dataset[feature].dtypes == 'O']

for feature in hasnull_features:
  print('Missing values in',feature, '->', dataset[feature].isna().mean()*100)

Missing values in Alley -> 93.76712328767123
Missing values in MasVnrType -> 0.547945205479452
Missing values in BsmtQual -> 2.5342465753424657
Missing values in BsmtCond -> 2.5342465753424657
Missing values in BsmtExposure -> 2.6027397260273974
Missing values in BsmtFinType1 -> 2.5342465753424657
Missing values in BsmtFinType2 -> 2.6027397260273974
Missing values in FireplaceQu -> 47.26027397260274
Missing values in GarageType -> 5.5479452054794525
Missing values in GarageFinish -> 5.5479452054794525
Missing values in GarageQual -> 5.5479452054794525
Missing values in GarageCond -> 5.5479452054794525
Missing values in PoolQC -> 99.52054794520548
Missing values in Fence -> 80.75342465753424
Missing values in MiscFeature -> 96.30136986301369

In [8]:
def replace_nan_in_catfeatures(dataset, features_nan):
  data= dataset.copy()
  data[features_nan]= data[features_nan].fillna('Missing')
  return data

In [9]:
dataset= replace_nan_in_catfeatures(dataset, hasnull_features)

dataset[hasnull_features].isna().mean()

Alley           0.0
MasVnrType      0.0
BsmtQual        0.0
BsmtCond        0.0
BsmtExposure    0.0
BsmtFinType1    0.0
BsmtFinType2    0.0
FireplaceQu     0.0
GarageType      0.0
GarageFinish    0.0
GarageQual      0.0
GarageCond      0.0
PoolQC          0.0
Fence           0.0
MiscFeature     0.0
dtype: float64

1.2 Handling Numerical features having nan values

In [11]:
isnull_num_features= [feature for feature in dataset.columns if dataset[feature].isna().sum()>1 and dataset[feature].dtypes != 'O']

for feature in isnull_num_features:
  print('Missing values in',feature, '->', dataset[feature].isna().mean()*100)

Missing values in LotFrontage -> 17.73972602739726
Missing values in MasVnrArea -> 0.547945205479452
Missing values in GarageYrBlt -> 5.5479452054794525

In [12]:
## Replacing with the median

def replace_nan_in_numfeatures(dataset, features_nan):
  data= dataset.copy()
  for feature in features_nan:
    median_value= data[feature].median()
    data[feature+'isnan']= np.where(data[feature].isna(), 1, 0)
    data[feature].fillna(median_value, inplace= True)

  return data

In [13]:
dataset= replace_nan_in_numfeatures(dataset, isnull_num_features)

dataset[isnull_num_features].isna().sum()

LotFrontage    0
MasVnrArea     0
GarageYrBlt    0
dtype: int64

## 2. Handling Temporal Data

In [16]:
numeric_features= [feature for feature in dataset.columns if dataset[feature].dtypes != 'O']

In [17]:
temporal_features= [feature for feature in numeric_features if 'Yr' in feature or 'Year' in feature]

for feature in temporal_features:
  if feature != 'YrSold':
    dataset[feature]= dataset['YrSold']- dataset[feature]


dataset[temporal_features].head()

   YearBuilt  YearRemodAdd  GarageYrBlt  YrSold  GarageYrBltisnan
0          5             5          5.0    2008              2008
1         31            31         31.0    2007              2007
2          7             6          7.0    2008              2008
3         91            36          8.0    2006              2006
4          8             8          8.0    2008              2008

In [19]:
dataset.drop('GarageYrBltisnan', axis=1, inplace=True)

In [23]:
temporal_features=['YearBuilt',	'YearRemodAdd',	'GarageYrBlt',	'YrSold']
dataset[temporal_features].head()

   YearBuilt  YearRemodAdd  GarageYrBlt  YrSold
0          5             5          5.0    2008
1         31            31         31.0    2007
2          7             6          7.0    2008
3         91            36          8.0    2006
4          8             8          8.0    2008

## 3. Numeric Variables
Since, the distribution of the continuous numeric features was skewed, we will use log normal transformation.

In [25]:
## Taking only those values which do not have zeros.
num_features= ['LotFrontage', 'LotArea', '1stFlrSF', 'GrLivArea', 'SalePrice']
for feature in num_features:
   dataset[feature]= np.log(dataset[feature])

## 4. Handling Rare categorical features.
A category/class is called as rare if it is present very less in number, say 1%. These categories will not add value to the dependent feature, so we will club them to a new category.

In [26]:
cat_features= [feature for feature in dataset.columns if dataset[feature].dtypes == 'O']
print('Count of Categorical Features  ',len(cat_features))
dataset[cat_features].head(3)

Count of Categorical Features   43

  MSZoning Street    Alley LotShape  ...    Fence MiscFeature SaleType SaleCondition
0       RL   Pave  Missing      Reg  ...  Missing     Missing       WD        Normal
1       RL   Pave  Missing      Reg  ...  Missing     Missing       WD        Normal
2       RL   Pave  Missing      IR1  ...  Missing     Missing       WD        Normal

[3 rows x 43 columns]

In [27]:
len(dataset)

1460

In [29]:
temp= dataset.groupby('Alley')['SalePrice'].count()/len(dataset)
temp

Alley
Grvl       0.034247
Missing    0.937671
Pave       0.028082
Name: SalePrice, dtype: float64

In [31]:
temp[temp<0.7].index

Index(['Grvl', 'Pave'], dtype='object', name='Alley')

In [32]:
for feature in cat_features:
  temp= dataset.groupby(feature)['SalePrice'].count()/len(dataset)

  temp_df= temp[temp >0.01].index

  dataset[feature]= np.where(dataset[feature].isin(temp_df), dataset[feature], 'Rare_val')

In [33]:
dataset.head()

   Id  MSSubClass MSZoning  ...  SalePrice  LotFrontageisnan MasVnrAreaisnan
0   1          60       RL  ...  12.247694                 0               0
1   2          20       RL  ...  12.109011                 0               0
2   3          60       RL  ...  12.317167                 0               0
3   4          70       RL  ...  11.849398                 0               0
4   5          60       RL  ...  12.429216                 0               0

[5 rows x 83 columns]

## 5. Label Encoding

In [35]:
cat_features

['MSZoning',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'SaleType',
 'SaleCondition']

In [36]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()

for feature in cat_features:
  dataset[feature]= le.fit_transform(dataset[feature])

dataset.head(50)

    Id  MSSubClass  MSZoning  ...  SalePrice  LotFrontageisnan  MasVnrAreaisnan
0    1          60         2  ...  12.247694                 0                0
1    2          20         2  ...  12.109011                 0                0
2    3          60         2  ...  12.317167                 0                0
3    4          70         2  ...  11.849398                 0                0
4    5          60         2  ...  12.429216                 0                0
5    6          50         2  ...  11.870600                 0                0
6    7          20         2  ...  12.634603                 0                0
7    8          60         2  ...  12.206073                 1                0
8    9          50         3  ...  11.774520                 0                0
9   10         190         2  ...  11.678440                 0                0
10  11          20         2  ...  11.771436                 0                0
11  12          60         2  ...  12.751300                 0                0
12  13          20         2  ...  11.877569                 1                0
13  14          20         2  ...  12.540758                 0                0
14  15          20         2  ...  11.964001                 1                0
15  16          45         3  ...  11.790557                 0                0
16  17          20         2  ...  11.911702                 1                0
17  18          90         2  ...  11.407565                 0                0
18  19          20         2  ...  11.976659                 0                0
19  20          20         2  ...  11.842229                 0                0
20  21          60         2  ...  12.692503                 0                0
21  22          45         3  ...  11.845103                 0                0
22  23          20         2  ...  12.345835                 0                0
23  24         120         3  ...  11.774520                 0                0
24  25          20         2  ...  11.944708                 1                0
25  26          20         2  ...  12.454104                 0                0
26  27          20         2  ...  11.811547                 0                0
27  28          20         2  ...  12.631340                 0                0
28  29          20         2  ...  12.242887                 0                0
29  30          30         3  ...  11.134589                 0                0
30  31          70         4  ...  10.596635                 0                0
31  32          20         2  ...  11.914048                 1                0
32  33          20         2  ...  12.100156                 0                0
33  34          20         2  ...  12.016726                 0                0
34  35         120         2  ...  12.533576                 0                0
35  36          60         2  ...  12.641097                 0                0
36  37          20         2  ...  11.884489                 0                0
37  38          20         2  ...  11.938193                 0                0
38  39          20         2  ...  11.599103                 0                0
39  40          90         2  ...  11.314475                 0                0
40  41          20         2  ...  11.982929                 0                0
41  42          20         2  ...  12.043554                 0                0
42  43          85         2  ...  11.877569                 1                0
43  44          20         2  ...  11.777211                 1                0
44  45          20         2  ...  11.856515                 0                0
45  46         120         2  ...  12.675764                 0                0
46  47          50         2  ...  12.387085                 0                0
47  48          20         0  ...  12.428015                 0                0
48  49         190         3  ...  11.635143                 0                0
49  50          20         2  ...  11.751942                 0                0

[50 rows x 83 columns]

## 6. Feature Scaling

In [34]:
from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler()

In [37]:
features_scale= [feature for feature in dataset.columns if feature not in ['Id', 'SalePrice']]

In [38]:
scaler.fit(dataset[features_scale])

MinMaxScaler(copy=True, feature_range=(0, 1))

MinMaxScaler and StandardScaler both can be used, one should try both and see which gives better r2_score.

In [39]:
dataset.head()

   Id  MSSubClass  MSZoning  ...  SalePrice  LotFrontageisnan  MasVnrAreaisnan
0   1          60         2  ...  12.247694                 0                0
1   2          20         2  ...  12.109011                 0                0
2   3          60         2  ...  12.317167                 0                0
3   4          70         2  ...  11.849398                 0                0
4   5          60         2  ...  12.429216                 0                0

[5 rows x 83 columns]

In [40]:
scaler.transform(dataset[features_scale])

array([[0.23529412, 0.5       , 0.41820812, ..., 0.5       , 0.        ,
        0.        ],
       [0.        , 0.5       , 0.49506375, ..., 0.5       , 0.        ,
        0.        ],
       [0.23529412, 0.5       , 0.434909  , ..., 0.5       , 0.        ,
        0.        ],
       ...,
       [0.29411765, 0.5       , 0.42385922, ..., 0.5       , 0.        ,
        0.        ],
       [0.        , 0.5       , 0.434909  , ..., 0.5       , 0.        ,
        0.        ],
       [0.        , 0.5       , 0.47117546, ..., 0.5       , 0.        ,
        0.        ]])

In [41]:
dataset_scaled= pd.concat([dataset[['Id', 'SalePrice']].reset_index(drop=True),
                           pd.DataFrame(scaler.transform(dataset[features_scale]), columns=features_scale)],
                           axis=1)

In [42]:
dataset_scaled.head()

   Id  SalePrice  MSSubClass  ...  SaleCondition  LotFrontageisnan  MasVnrAreaisnan
0   1  12.247694    0.235294  ...            0.5               0.0              0.0
1   2  12.109011    0.000000  ...            0.5               0.0              0.0
2   3  12.317167    0.235294  ...            0.5               0.0              0.0
3   4  11.849398    0.294118  ...            0.0               0.0              0.0
4   5  12.429216    0.235294  ...            0.5               0.0              0.0

[5 rows x 83 columns]

In [45]:
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [46]:
dataset_scaled.to_csv('X_train_HousePricePrediction_processed.csv')
!cp X_train_HousePricePrediction_processed.csv "drive/My Drive/"