<a href="https://colab.research.google.com/github/msudhanshu10/Data-Science/blob/master/Advanced%20House%20Price%20Prediction/Advanced_House_Price_Prediction_Feature_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
from google.colab import files
uploaded= files.upload()

Saving test.csv to test.csv

In [4]:
dataset= pd.read_csv('test.csv')

In [5]:
dataset.head()

     Id  MSSubClass MSZoning  ...  YrSold  SaleType SaleCondition
0  1461          20       RH  ...    2010        WD        Normal
1  1462          20       RL  ...    2010        WD        Normal
2  1463          60       RL  ...    2010        WD        Normal
3  1464          60       RL  ...    2010        WD        Normal
4  1465         120       RL  ...    2010        WD        Normal

[5 rows x 80 columns]

## 1. Handling Missing Values

1.1 Handle missing values for categorical features.

In [6]:
isnull_cat_features= [feature for feature in dataset.columns if dataset[feature].isna().sum()>1 and dataset[feature].dtypes == 'O']

for feature in isnull_cat_features:
  print('Missing values in',feature, '->', dataset[feature].isna().mean()*100)

Missing values in MSZoning -> 0.2741603838245374
Missing values in Alley -> 92.66620973269363
Missing values in Utilities -> 0.1370801919122687
Missing values in MasVnrType -> 1.0966415352981496
Missing values in BsmtQual -> 3.015764222069911
Missing values in BsmtCond -> 3.0843043180260454
Missing values in BsmtExposure -> 3.015764222069911
Missing values in BsmtFinType1 -> 2.878684030157642
Missing values in BsmtFinType2 -> 2.878684030157642
Missing values in Functional -> 0.1370801919122687
Missing values in FireplaceQu -> 50.03427004797807
Missing values in GarageType -> 5.20904729266621
Missing values in GarageFinish -> 5.346127484578479
Missing values in GarageQual -> 5.346127484578479
Missing values in GarageCond -> 5.346127484578479
Missing values in PoolQC -> 99.7943797121316
Missing values in Fence -> 80.12337217272105
Missing values in MiscFeature -> 96.50445510623715

In [7]:
def replace_nan_in_catfeatures(dataset, features_nan):
  data= dataset.copy()
  data[features_nan]= data[features_nan].fillna('Missing')
  return data

In [9]:
dataset= replace_nan_in_catfeatures(dataset, isnull_cat_features)

dataset[isnull_cat_features].isna().mean()

MSZoning        0.0
Alley           0.0
Utilities       0.0
MasVnrType      0.0
BsmtQual        0.0
BsmtCond        0.0
BsmtExposure    0.0
BsmtFinType1    0.0
BsmtFinType2    0.0
Functional      0.0
FireplaceQu     0.0
GarageType      0.0
GarageFinish    0.0
GarageQual      0.0
GarageCond      0.0
PoolQC          0.0
Fence           0.0
MiscFeature     0.0
dtype: float64

1.2 Handling Numerical features having nan values

In [10]:
isnull_num_features= [feature for feature in dataset.columns if dataset[feature].isna().sum()>1 and dataset[feature].dtypes != 'O']

for feature in isnull_num_features:
  print('Missing values in',feature, '->', dataset[feature].isna().mean()*100)

Missing values in LotFrontage -> 15.558601782042494
Missing values in MasVnrArea -> 1.0281014393420151
Missing values in BsmtFullBath -> 0.1370801919122687
Missing values in BsmtHalfBath -> 0.1370801919122687
Missing values in GarageYrBlt -> 5.346127484578479

In [11]:
## Replacing with the median

def replace_nan_in_numfeatures(dataset, features_nan):
  data= dataset.copy()
  for feature in features_nan:
    median_value= data[feature].median()
    data[feature+'isnan']= np.where(data[feature].isna(), 1, 0)
    data[feature].fillna(median_value, inplace= True)

  return data

In [12]:
dataset= replace_nan_in_numfeatures(dataset, isnull_num_features)

dataset[isnull_num_features].isna().sum()

LotFrontage     0
MasVnrArea      0
BsmtFullBath    0
BsmtHalfBath    0
GarageYrBlt     0
dtype: int64

## 2. Handling Temporal Data

In [13]:
numeric_features= [feature for feature in dataset.columns if dataset[feature].dtypes != 'O']

In [14]:
temporal_features= [feature for feature in numeric_features if 'Yr' in feature or 'Year' in feature]

for feature in temporal_features:
  if feature != 'YrSold':
    dataset[feature]= dataset['YrSold']- dataset[feature]


dataset[temporal_features].head()

   YearBuilt  YearRemodAdd  GarageYrBlt  YrSold  GarageYrBltisnan
0         49            49         49.0    2010              2010
1         52            52         52.0    2010              2010
2         13            12         13.0    2010              2010
3         12            12         12.0    2010              2010
4         18            18         18.0    2010              2010

In [15]:
dataset.drop('GarageYrBltisnan', axis=1, inplace=True)

In [16]:
temporal_features=['YearBuilt',	'YearRemodAdd',	'GarageYrBlt',	'YrSold']
dataset[temporal_features].head()

   YearBuilt  YearRemodAdd  GarageYrBlt  YrSold
0         49            49         49.0    2010
1         52            52         52.0    2010
2         13            12         13.0    2010
3         12            12         12.0    2010
4         18            18         18.0    2010

## 3. Numeric Variables
Since, the distribution of the continuous numeric features was skewed, we will use log normal transformation.

In [18]:
## Taking only those values which do not have zeros.
num_features= ['LotFrontage', 'LotArea', '1stFlrSF', 'GrLivArea']
for feature in num_features:
   dataset[feature]= np.log(dataset[feature])

## 4. Handling Rare categorical features.
A category/class is called as rare if it is present very less in number, say 1%. These categories will not add value to the dependent feature, so we will club them to a new category.

In [19]:
cat_features= [feature for feature in dataset.columns if dataset[feature].dtypes == 'O']
print('Count of Categorical Features  ',len(cat_features))
dataset[cat_features].head(3)

Count of Categorical Features   43

  MSZoning Street    Alley LotShape  ...    Fence MiscFeature SaleType SaleCondition
0       RH   Pave  Missing      Reg  ...    MnPrv     Missing       WD        Normal
1       RL   Pave  Missing      IR1  ...  Missing        Gar2       WD        Normal
2       RL   Pave  Missing      IR1  ...    MnPrv     Missing       WD        Normal

[3 rows x 43 columns]

In [20]:
len(dataset)

1459

In [22]:
temp= dataset.groupby('Alley')['Id'].count()/len(dataset)
temp

Alley
Grvl       0.047978
Missing    0.926662
Pave       0.025360
Name: Id, dtype: float64

In [23]:
temp[temp<0.7].index

Index(['Grvl', 'Pave'], dtype='object', name='Alley')

In [24]:
for feature in cat_features:
  temp= dataset.groupby(feature)['Id'].count()/len(dataset)

  temp_df= temp[temp >0.01].index

  dataset[feature]= np.where(dataset[feature].isin(temp_df), dataset[feature], 'Rare_val')

In [25]:
dataset.head()

     Id  MSSubClass  ... BsmtFullBathisnan  BsmtHalfBathisnan
0  1461          20  ...                 0                  0
1  1462          20  ...                 0                  0
2  1463          60  ...                 0                  0
3  1464          60  ...                 0                  0
4  1465         120  ...                 0                  0

[5 rows x 84 columns]

## 5. Label Encoding

In [26]:
cat_features

['MSZoning',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'SaleType',
 'SaleCondition']

In [27]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()

for feature in cat_features:
  dataset[feature]= le.fit_transform(dataset[feature])

dataset.head(50)

      Id  MSSubClass  ...  BsmtFullBathisnan  BsmtHalfBathisnan
0   1461          20  ...                  0                  0
1   1462          20  ...                  0                  0
2   1463          60  ...                  0                  0
3   1464          60  ...                  0                  0
4   1465         120  ...                  0                  0
5   1466          60  ...                  0                  0
6   1467          20  ...                  0                  0
7   1468          60  ...                  0                  0
8   1469          20  ...                  0                  0
9   1470          20  ...                  0                  0
10  1471         120  ...                  0                  0
11  1472         160  ...                  0                  0
12  1473         160  ...                  0                  0
13  1474         160  ...                  0                  0
14  1475         120  ...                  0                  0
15  1476          60  ...                  0                  0
16  1477          20  ...                  0                  0
17  1478          20  ...                  0                  0
18  1479          20  ...                  0                  0
19  1480          20  ...                  0                  0
20  1481          60  ...                  0                  0
21  1482         120  ...                  0                  0
22  1483          20  ...                  0                  0
23  1484         120  ...                  0                  0
24  1485          80  ...                  0                  0
25  1486          60  ...                  0                  0
26  1487          60  ...                  0                  0
27  1488          20  ...                  0                  0
28  1489          20  ...                  0                  0
29  1490          20  ...                  0                  0
30  1491          60  ...                  0                  0
31  1492          30  ...                  0                  0
32  1493          20  ...                  0                  0
33  1494          60  ...                  0                  0
34  1495          60  ...                  0                  0
35  1496         120  ...                  0                  0
36  1497         160  ...                  0                  0
37  1498         160  ...                  0                  0
38  1499         160  ...                  0                  0
39  1500         160  ...                  0                  0
40  1501         160  ...                  0                  0
41  1502         160  ...                  0                  0
42  1503          20  ...                  0                  0
43  1504          60  ...                  0                  0
44  1505          20  ...                  0                  0
45  1506          20  ...                  0                  0
46  1507          60  ...                  0                  0
47  1508          50  ...                  0                  0
48  1509          60  ...                  0                  0
49  1510          20  ...                  0                  0

[50 rows x 84 columns]

## 6. Feature Scaling

In [28]:
from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler()

In [29]:
features_scale= [feature for feature in dataset.columns if feature not in ['Id', 'SalePrice']]

In [30]:
scaler.fit(dataset[features_scale])

MinMaxScaler(copy=True, feature_range=(0, 1))

MinMaxScaler and StandardScaler both can be used, one should try both and see which gives better r2_score.

In [31]:
dataset.head()

     Id  MSSubClass  ...  BsmtFullBathisnan  BsmtHalfBathisnan
0  1461          20  ...                  0                  0
1  1462          20  ...                  0                  0
2  1463          60  ...                  0                  0
3  1464          60  ...                  0                  0
4  1465         120  ...                  0                  0

[5 rows x 84 columns]

In [32]:
scaler.transform(dataset[features_scale])

array([[0.        , 1.        , 0.65728796, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.5       , 0.66239742, ..., 0.        , 0.        ,
        0.        ],
       [0.23529412, 0.5       , 0.62488741, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.5       , 0.92233754, ..., 0.        , 0.        ,
        0.        ],
       [0.38235294, 0.5       , 0.5491235 , ..., 0.        , 0.        ,
        0.        ],
       [0.23529412, 0.5       , 0.62488741, ..., 0.        , 0.        ,
        0.        ]])

In [34]:
dataset_scaled= pd.concat([dataset['Id'].reset_index(drop=True),
                           pd.DataFrame(scaler.transform(dataset[features_scale]), columns=features_scale)],
                           axis=1)

In [35]:
dataset_scaled.head()

     Id  MSSubClass  ...  BsmtFullBathisnan  BsmtHalfBathisnan
0  1461    0.000000  ...                0.0                0.0
1  1462    0.000000  ...                0.0                0.0
2  1463    0.235294  ...                0.0                0.0
3  1464    0.235294  ...                0.0                0.0
4  1465    0.588235  ...                0.0                0.0

[5 rows x 84 columns]

In [36]:
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [37]:
dataset_scaled.to_csv('X_test_HousePricePrediction_processed.csv')
!cp X_test_HousePricePrediction_processed.csv "drive/My Drive/"